body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -0-background-size: cover;
  background-size: cover;
}
h1{
  font-size: 3rem;
  color: #e2dbdb;
}
.buffer{
  height: 3rem;
}
hr{
  border-color:pink;
  border-width: 3px;
  max-width: 65px;
 }
.btn{
  font-weight: 700px;
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-primary{
  background-color: pink;
  border-color: pink;
}
.btn-primary:hover
{
  background-color: pink;
  border-color: pink;
  border-radius: 300px;
  border-width: 5px;
}
.bt-xl{
  padding: 1rem 2rem;
}